<div class="wrapper">
    <div class="sidebar" data-color="green" data-background-color="black" data-image="img/sidebar-5.jpg"
         data-th-fragment="sidebar">
        <div class="logo">
            <a href="https://bbw.ch" class="simple-text logo-normal"> @BBW</a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active  ">
                    <a class="nav-link" href="/dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>