<body>
<div class="wrapper ">
    <div data-th-replace="fragments/fragments-sidebar :: sidebar"></div>
    <div class="main-panel">
        <div data-th-replace="fragments/fragments-main-panel-navbar :: main-panel-navbar">
    </div>
    <div data-layout-fragment="content"></div>
    <div data-th-replace="fragments/fragments-main-panel-footer :: main-panel-footer">
</div>
</div></div></body>