<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="#{edit.title}"></title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body id="page-top">

<div>
    <div>
    <form th:action="@{/edit/{id}(id=${Employee.id})}" th:object="${Employee}" method="post">
        <label th:text="#{employeeText.firstname}"></label>
        <input type="text" class="form-control" id="firstname" th:value="*{firstname}"><br>

        <label th:text="#{employeeText.lastname}"></label>
        <input type="text" class="form-control" id="lastname" th:value="*{lastname}"><br>

        <label th:text="#{employeeText.email}"></label>
        <input type="email" class="form-control" id="email" th:value="*{email}"><br>

        <label th:text="#{employeeText.salary}"></label>
        <input type="number" class="form-control" id="salary" th:value="*{salary}"><br>

        <label th:text="#{employeeText.gender}"></label>
        <input disabled="true" type="text" class="form-control" id="gender" th:value="*{gender}"><br>

        <label th:text="#{employeeText.birthday}"></label>
        <input disabled="true" type="date" class="form-control" id="birthday" th:value="*{birthday}"><br>

        <label th:text="#{employeeText.startAtWork}"></label>
        <input disabled="true" type="date" class="form-control" id="startatwork" th:value="*{startAtWorkPlace}"><br>

        <label th:text="#{employeeText.role}"></label>
        <select class="form-select" aria-label="Default select example">
            <option th:value="role" th:each="role: ${roles}" th:selected="${role == Employee.role}" th:text="${role}"></option>
        </select>

        <br>

        <input type="submit" th:value="#{employeeText.save}" class="btn btn-info">
    </form>

    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>

</html>